@{
    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]</h1>

<p>Pedido realizado com sucesso!</p>

<p>
    <a asp-action="Registro">Adicionar novo Pedido</a>
</p>

<p>
    <a asp-action="Pedidos">Meus Pedidos</a>
</p>