@{

    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]</h1>

<p>Cliente foi adicionado com sucesso!</p>

<p>
    <a asp-action="Cadastro">Adicionar outro Cliente</a>
</p>

<p>
    <a asp-action="Lista">Ver lista</a>
</p>

