@{

    ViewData["Title"] = "Petshop";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao mundo PET</h1>
    <img src="http://blogs.diariodonordeste.com.br/bemestarpet/wp-content/uploads/2017/04/Mundo-Pet-17098251_1647603198869578_2511975860074804557_n-465x262.jpg" <br />

    <h5>
        <P>Lorem ipsum volutpat sodales auctor proin consequat ullamcorper condimentum molestie, amet sagittis pretium blandit convallis sollicitudin fusce. 
        rutrum condimentum vestibulum nec at lorem mauris lobortis erat nunc, curae ut nunc ipsum aenean blandit odio tincidunt, mauris elementum himenaeos ultrices diam mollis per litora. 
        curabitur potenti fermentum mollis neque libero est quisque, curabitur condimentum volutpat platea massa vulputate, porta fusce condimentum dui curabitur phasellus. 
        blandit phasellus porta tempus ante tellus et, eleifend ac euismod felis porta nunc in, vivamus dictum sapien maecenas pretium. 
        dictum nulla pellentesque facilisis sociosqu feugiat at quis bibendum euismod, sociosqu morbi dolor rhoncus et quam semper viverra hac praesent, fusce etiam porttitor donec adipiscing eleifend aenean amet.</P>
    </h5><br />
</div>