@{

    ViewData["Title"] = "Serviços";
}
<h1>@ViewData["O que oferecemos?"]</h1>

<h1>O que oferecemos?</h1>

<h2>
    <p>Clínica Veterinária</p>
</h2>

<p class="text-justify">Toda Mundo Pet possui uma clínica veterinária. Desde vacinas de rotina até emergências veterinárias e cirurgias, aqui
    temos o especialista que o seu pet precisa. As nossas unidades de Fortaleza (Aldeota), Salvador (Bonocô) e Recife
    (Boa
    Viagem) têm atendimento 24 horas.
</p>

<h2>
    <p>Serviços Estéticos</p>
</h2>

<p class="text-justify">O aspecto do seu bichinho também tem relação com a sua saúde. Por isso, é preciso estar sempre atento para quando o
    seu pet precisará de um cuidado a mais. Aqui na Mundo Pet, nós disponibilizamos de uma área especializada na
    estética do
    seu animal. Desde banho simples a tosa exótica, nosso ambiente está pronto para atender a necessidade do seu pet e
    fazer
    de tudo para que ele fique ainda mais irresistível!
</p>

<h2>
    <p>Contato</p>
</h2>
<p><strong>Endereço:</strong>Rua Mundo Pet, 332 - Curitiba/PR</p>
<p><strong>Telefone: </strong>(41)99999-1234</p>
<p><strong>Email:</strong>contato@mundopet.pet.br</p>
